<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        
        <!-- it will put the link tags here -->
        <%- style  %>
    </head>
    <body>
        <%- include('_header') ; %>
        <h1>
            <%- body %>
        </h1>
        <%- include('_footer') ; %>
        <%- script  %>
    </body>
</html>